/_build
config/config.cv.combat
lib/skynet/*.o
lib/skynet/*.so
lib/skynet/cservice/*.so.dSYM
lib/skynet/luaclib/*.so.dSYM
lib/skynet/skynet.dSYM/
lib/skynet/3rd/lua-cjson/*.o
lib/skynet/3rd/lua/*.o
lib/skynet/3rd/lua/*.a
lib/skynet/3rd/lua/lua
lib/skynet/3rd/lua/luac
lib/skynet/luaclib/*.so
lib/skynet/skynet
lib/skynet/cservice/
/priv/*.so.dSYM
.idea
tmp
erl_crash.dump
log
!/rel/config.exs
!/rel/vm.args.eex
/rel/egg
cover
.DS_Store
node_modules
*.ez
!/bin/mix/
!/bin/mix/*.ez
*.log
*.log.symbols
*.pid
*.swp
*.sqlite3
*~
.bundle
.tags
.tags_sorted_by_file
.gemtags
.project
.rebar
.rebar3
fprof.trace
fprof.analysis
mix.md5
mix.md5.new
god.default
god.defaults
dump.rdb
migrator_keys.*
gameDataStrings.*
config/*.yml
config/config.json
config/handlers.json
client/c?.lc
client/c?.lua
client/c?.lua.*
client/debuger.lua
client/squishy
client/squishy-l.tmp
client/squishy-m.tmpst
*.dat
*.db
game-config-fix/*.db
gameDataStrings.xls
gameDataStrings.json
checksum_*.txt
checksum_*.dat
checksum_*.dat.raw
app-deps.dot
app-deps.png
*.out
/*.svg
/*.html
/*.txt
untitled
lua.proto
/*.beam
/*.hrl
deps/**/*.beam
deps/**/*.app
deps/tzdata/priv/latest_remote_poll.txt
!deps/tzdata/priv/**/*.ets
deps/cowlib/ebin/cowlib.app
deps/ranch/ebin/ranch.app
redis-cluster/70*
redis-cluster/80*
redis-cluster/redis-*
/temp
deps/fs/c_src/mac/cli.d
deps/fs/c_src/mac/compat.d
deps/fs/c_src/mac/main.d
deps/jiffy/c_src/decoder.d
deps/jiffy/c_src/doubles.d
deps/jiffy/c_src/encoder.d
deps/jiffy/c_src/jiffy.d
deps/jiffy/c_src/utf8.d
deps/jiffy/c_src/util.d
deps/jiffy/c_src/double-conversion/bignum-dtoa.d
deps/jiffy/c_src/double-conversion/bignum.d
deps/jiffy/c_src/double-conversion/cached-powers.d
deps/jiffy/c_src/double-conversion/diy-fp.d
deps/jiffy/c_src/double-conversion/double-conversion.d
deps/jiffy/c_src/double-conversion/fast-dtoa.d
deps/jiffy/c_src/double-conversion/fixed-dtoa.d
deps/jiffy/c_src/double-conversion/strtod.d
deps/lz4/c_src/lz4.d
deps/lz4/c_src/lz4_nif.d
deps/lz4/c_src/lz4hc.d
deps/msgpack/c_src/msgpack_nif.d
deps/nacl/c_src/nacl_nif.d
deps/proper/.fetch
deps/proper/.hex
deps/proper/check_escripts.sh
deps/proper/clean_doc.sh
deps/proper/clean_temp.sh
deps/proper/configure
deps/proper/COPYING
deps/proper/Makefile
deps/proper/README.md
deps/proper/rebar.config
deps/proper/THANKS
deps/proper/write_compile_flags
deps/proper/include/proper.hrl
deps/proper/include/proper_common.hrl
deps/proper/include/proper_internal.hrl
deps/proper/include/proper_param_adts.hrl
deps/proper/src/proper.app.src
deps/proper/src/proper.erl
deps/proper/src/proper_arith.erl
deps/proper/src/proper_array.erl
deps/proper/src/proper_dict.erl
deps/proper/src/proper_fsm.erl
deps/proper/src/proper_gb_sets.erl
deps/proper/src/proper_gb_trees.erl
deps/proper/src/proper_gen.erl
deps/proper/src/proper_orddict.erl
deps/proper/src/proper_ordsets.erl
deps/proper/src/proper_prop_remover.erl
deps/proper/src/proper_queue.erl
deps/proper/src/proper_sets.erl
deps/proper/src/proper_shrink.erl
deps/proper/src/proper_statem.erl
deps/proper/src/proper_symb.erl
deps/proper/src/proper_transformer.erl
deps/proper/src/proper_types.erl
deps/proper/src/proper_typeserver.erl
deps/proper/src/strip_types.erl
deps/proper/src/vararg.erl
deps/syslog/c_src/syslog_drv.d
!deps/tzdata/priv/release_ets/.gitkeep
deps/tzdata/priv/tmp_downloads/
!all_anim_states_in_cs.txt
!all_anim_states_in_cs_files.txt
!all_anim_states_in_cs_bones.txt
api.lua
