<br/>

<div class="row">
	<div class="col-md-2 col-md-offset-3">
    <a href="#" onclick="toText()" class="btn btn-success">
    	<span class="glyphicon glyphicon-chevron-down"></span>
    	Down
    </a>
  </div>
  <div class="col-md-2">
    <a href="#" onclick="toDisplay()" class="btn btn-warning">
    	<span class="glyphicon glyphicon-chevron-up"></span>
    	Up
    </a>
  </div>
</div>

<br/>

<textarea id="json" rows="4" class="form-control"></textarea>

<br/>