<% eid ||= 'itemTid' %>
<select id="<%= eid %>" name="<%= eid %>" class="form-control">
  <% CocsProxy.instance.getGameConfig('items').keys.sort.each do |tid| %>
    <% if tid =~ /^I[^EFSJP].+/ %>
      <option value='<%= tid %>'>
        <%= value = CocsProxy.instance.getGameConfig('items')[tid]; GameConfig.strings[value['name']] || value['name'] %>
      </option>
    <% end %>
  <% end %>
</select>