<!-- _packages.html.erb -->

<% eid ||= 'packageTid' %>
<select id="<%= eid %>" name="<%= eid %>" class="form-control">
  <% CocsProxy.instance.getGameConfig('items').each do |tid, value| %>
    <% if tid =~ /^IP.+/ %>
      <option value='<%= tid %>'>
        <% name = GameConfig.strings[value['name']] || value['name'] %>
        <% name = "#{tid}-#{name}" %>
        <%= name %>
      </option>
    <% end %>
  <% end %>
</select>